**
!cloudbuild.yaml
!README.md
!.gcloudignore
!data/
!data/**
!datafusion/
!datafusion/**
!scripts/
!scripts/**
!bq/
!bq/**
!.vscode/
!.vscode/**
!run_deploy.ps1
!run_deploy.bat
!run_deploy.sh
!cleanup.ps1
!cleanup.sh
